<div class="container">
  <form #formRef="ngForm">
    <div class="form-group">
      <label for="problemTitle">Problem Title</label>
      <input
        type="text"
        class="form-control"
        id="problemTitle"
        name="problemTitle"
        placeholder="Enter New Problem Title"
        required
        [(ngModel)]="newProblem.title"
      />
    </div>
    <div class="form-group">
      <label for="problemDesc">Problem Description</label>
      <textarea
        type="text"
        class="form-control"
        id="problemDesc"
        name="problemDesc"
        placeholder="Enter New Problem Description"
        required
        [(ngModel)]="newProblem.desc"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="difficulty">Difficulty</label>
      <select
        class="form-control"
        id="difficulty"
        name="difficulty"
        [(ngModel)]="newProblem.difficulty"
      >
        <option value="" disabled selected>
          Select New Problem Difficulty
        </option>
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{ difficulty }}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button
          type="submit"
          class="btn btn-outline-primary float-right"
          (click)="addProblem()"
        >
          Add problem
        </button>
      </div>
    </div>
  </form>
</div>
