<div class="container">
  <app-new-problem (addProblem)="addProblem($event)"></app-new-problem>
  <div class="list-group">
    <a
      class="list-group-item"
      *ngFor="let problem of problems"
      [routerLink]="['/problems', problem.id]"
    >
      <span
        class="{{
          'float-left badge difficulty diff-' + problem.difficulty.toLowerCase()
        }}"
      >
        {{ problem.difficulty }}
      </span>
      <strong class="title" style="color: black"
        >{{ problem.id }}. {{ problem.title }}</strong
      >
    </a>
  </div>
</div>
